{% load staticfiles %}
<a class="thumbnail-link" href="{% url 'viz' viz.pk %}">
  <div class="card" id="viz-{{ viz.pk }}">
    <div class="img">
      {% if source %}
      <canvas id="sketch{{ viz.pk }}"></canvas>   
      {% else %}
      <img class="thumbnail" src="{% static 'i/cubeGuy.png' %}" alt="">      
      {% endif %}
      <a href="#" class="author">{{ viz.creator }}</a>
    </div>
    <h2>{{ viz.name }}</h2>
    <p>{{ viz.tagline }}</p>
  </div>
</a>
{% if nextPage %}
<!-- <a class="scroll" href="{% url 'scroll' nextPage %}{% if vizType %}?vizType={{ vizType }}{% endif %}"></a> -->
<a class="scroll" href="{% url 'scroll' nextPage filter %}"></a>
{% endif %}
