<!-- 
  Viz view, contains comments and details.
  And also Code editing options.

  - Currently duplicated from javascript.html (old code is in there)
-->

{% extends "cubetube/base.html" %}
{% load staticfiles %}

{% block headx %}
    <!-- to keep this view from reloading from the cache (especially nasty after deletions) -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block header %}
    {% include "cubetube/partials/_header.html" %}
{% endblock %}

{% block content %}
    <script type="text/javascript">
        $(function () {
            clearTimeout(taglineTimer);
            $("div.tagline").hide();
            $('.logo-box').off('mouseover');
            $('.logo-box').off('mouseout');
            $('a.logo-box span.cubetube').text('Spark Pixels');
            $('a.logo-box span.cubetube').css('color', '#fff');

            checkCookie();
            console.log("accessToken: " + accessToken);

            if (typeof accessToken !== 'undefined' && accessToken !== null) {
                cubeNameOnChange(); //populateInterval();
                if (typeof coreID !== 'undefined' && coreID !== null) {
                    $("div#select-cube").fadeIn(300);
                    $("div#cubeAndModeText").hide('slide', {direction: 'right'}, 600);
                }
            }
            
            // Bind both touch and click events to the slider controls
            // for compatibility with mobile and desktop devices
            $("input#brightnessSlider").on("mouseup touchend", function() { changeBrightness(); });
            $("input#speedSlider").on("mouseup touchend", function() { changeSpeed(); });
        });
        
        function getDeviceID() {
            var ret = $("select#cubeName").val();
            if(typeof ret !== 'undefined' && ret !== null && ret !== '-1')
                return ret;
            else 
                return '';
        }

        function cubeNameOnChange() {
            currentMode = '';
            isUserAlerted = false;
            var deviceID = getDeviceID();	// Reads currently 'selected' value from dropdown
            console.log('deviceID: ' + deviceID);
            console.log('#cubeName options: ' + $("select#cubeName option").length);
            console.log('#cubeName value: ' + $("select#cubeName").val());

            if(deviceID.trim() !== '') {
                // Retrieve the name of the selected device from the dropdown
                /*$("select#cubeName option").each(function () {
                    if ($(this).val() === deviceID)
                        $("span#device").text($(this).text() + " Selected");  // Place the name in the device span
                });*/
                
                coreID = deviceID;
                // Freshen the cookie with the currently selected device from the dropdown
                $.removeCookie("coreID", {path: '/'});
                var date = new Date();
                $.cookie("coreID", coreID, {expires: date.getTime() + 86400, path: '/'});
                
                // Show the modes list and brightness/speed controls
                populateInterval();
            }
            else {
                // We don't have a valid selected device so delete the cookie and hide the controls
                $.removeCookie("coreID", {path: '/'});
                coreID = null;
                $("div#params").fadeOut(100);
                $("div#updateListDiv").fadeOut(100);
                $("div#brightnessControl").fadeOut(100);
                $("div#speedControl").fadeOut(100);
                clearInterval(populateModesTimer);
            }
        }

        function changeMode() {
            currentMode = $('#modes').find("option:selected").val();
            if (currentMode.toUpperCase().indexOf("PAINTER") >= 0) {
                var message = '';
                message += "You have selected the CUBE PAINTER mode; to enjoy this mode you";
                message += "\nneed to go to the Cube Painter area. If you would like to be taken";
                message += "\nthere now, just hit [OK].\nElse, click [Cancel] to return to where you were.";
                if (confirm(message))
                    window.location.replace(document.location.origin + "/cube_painter");
            }

            $("div#params").slideUp("100", "swing", clearModeOptions());
            var idx = $("select#modes option:selected").index();
            //console.log('$("select#modes option:selected").index(): ' + idx);
            if(modeParmList[idx] === 'N')
                setMode();
            else
                parseModeOptions();
            
            if (currentMode.toUpperCase().indexOf("LISTENER") >= 0)
                getDebugVariable();
            else
                $("div#cubeAndModeText").hide('slide', {direction: 'right'}, 600);
        }

        function changeBrightness() {
            brightness = $("#brightnessSlider").val();
            updateBrightnessLabel(brightness);
            setBrightness();
            if (supportsLocalStorage())
                localStorage["spark_pixels.brightness"] = brightness;
        }

        function changeSpeed() {
            speed = $("#speedSlider").val();
            updateSpeedLabel(speed);
            setSpeed();
            if (supportsLocalStorage())
                localStorage["spark_pixels.speed"] = speed;
        }
        
        function updateBrightnessLabel(brightnessValue) {
            $("span#brightness").text("Brightness: " + brightnessValue);
            $("input#brightnessSlider").attr("title", $("span#brightness").text());
        }
        
        function updateSpeedLabel(speedValue) {
            switch(Number(speedValue)) {
                case 0:
                    $("span#speed").text("Speed: Paint Drying");
                    break;
                case 1:
                    $("span#speed").text("Speed: Turtle");
                    break;
                case 2:
                    $("span#speed").text("Speed: Segway");
                    break;
                case 3:
                    $("span#speed").text("Speed: Rabbit");
                    break;
                case 4:
                    $("span#speed").text("Speed: Cheetah");
                    break;
                case 5:
                    $("span#speed").text("Speed: Ricky Bobby");
                    break;
                case 6:
                    $("span#speed").text("Speed: Jimmy Johns");
                    break;
                case 7:
                    $("span#speed").text("Speed: My Bullet");
                    break;
                case 8:
                    $("span#speed").text("Speed: Superman");
                    break;
                default:
                    console.log('speed is ' + speedValue);
                    break;
            }
            $("input#speedSlider").attr("title", $("span#speed").text());
        }
    </script>
    {% load utils %}
    {% logged_in_status as logged_in %}
    <div class="aux-panel-popover" style="background-color: rgba(245, 245, 245, 0.7); padding: 5px 15px;">
        <a onclick="$( '.aux-panel-popover' ).slideUp(300, 'linear');" href="javascript:void(0);" style="">Close</a><br>
        <h2>Aux Switch Panel</h2>
        <!--<div class="input-areas">-->
            <div class="inputs"></div>
            <div class="error-area" style="height: 30px;"></div>
        <!--</div>-->    
    </div>
    <div id="gallery-wrapper" class="viz-cards" style="padding-top: 0px !important; background: url(/static/images/icon-loading.gif) no-repeat -9999px -9999px;">
        <div class="gradient" style="margin-top: 60px; padding: 0px 25% 12px; text-align: center; border-radius: 0px 0px 30px 30px">
            <div id="cubeAndModeText">
                <div><span id="device">Please Log In</span></div>
                <!--<div>Selected Mode:  <span id="mode"></span></div>-->
            </div>
            {% if logged_in %}
                <div style="clear: both; height: 10px; background: rgba(28, 21, 33, 0)"></div>
                <div id="select-cube" style="text-align: center;">
                    <span style="padding-right: 10px;" >Device:</span>
                    <select id="cubeName" onchange="cubeNameOnChange();" style="border-width: 2px; border-color: #2bc6fb; border-radius: 10px;"></select>
                    <a id="showHideAuxSwitchPanel" onclick="showHideAuxSwitchPanel();" title="Click to toggle the Aux Switch Panel!" href="javascript:void(0);" 
                       style="float: right; width: 10%; text-decoration: none; display: none;">
                        <img id="auxSwitchIcon" src="/static/images/icon-switches.png" class="icon-switches" />
                        <img id="auxWaitIcon" src="/static/images/icon-loading.gif" class="icon-switches" style="display: none;"/>
                    </a>
                </div>
                <div style="clear: both; height: 10px; background: rgba(28, 21, 33, 0)"></div>
                <div id="updateListDiv">
                    <a id="updateListButton" href="javascript:void(0);" onclick="currentMode = ''; populateInterval();" 
                       title="Click here to refresh the modes list!">
                        Loading, Please Wait<span class="one">.</span><span class="two">.</span><span class="three">.</span>
                    </a>
                    <select id="modes" onchange="changeMode();" style="border-width: 2px; border-color: #2bc6fb; border-radius: 10px; display: none;"></select>
                </div>
                <div style="clear: both; height: 10px; background: rgba(28, 21, 33, 0)"></div>
                <div id="brightnessControl">
                    <!--<div>-->
                        <span style="float: left;" id="brightness"></span>
                        <input id="brightnessSlider" type="range" min="0" max="100" step="1" value="20" />
                    <!--</div>-->
                </div>
                <div style="clear: both; height: 10px; background: rgba(28, 21, 33, 0)"></div>
                <div id="speedControl">
                    <!--<div>-->
                        <span style="float: left;" id="speed"></span><!--<br>-->
                        <input id="speedSlider" type="range" min="0" max="8" step="1" value="5" />
                    <!--</div>-->
                </div>
            {% endif %}
        </div>
        <div id="params" class="gradient">
            <div style="clear: both; height: 10px; /*background: rgba(28, 21, 33, 0)*/"></div>
            <div id="color" style="float: left; width: 50%; margin: 0 auto; text-align: right;">
                <span id="color1" style="padding-right: 5px;">
                    Color 1: <input type="text" id="color1" value="">
                </span><br>
                <span id="color2" style="padding-right: 5px;">
                    Color 2: <input type="text" id="color2" value="">
                </span><br>
                <span id="color3" style="padding-right: 5px;">
                    Color 3: <input type="text" id="color3" value="">
                </span><br>
                <span id="color4" style="padding-right: 5px;">
                    Color 4: <input type="text" id="color4" value="">
                </span><br>
                <span id="color5" style="padding-right: 5px;">
                    Color 5: <input type="text" id="color5" value="">
                </span><br>
                <span id="color6" style="padding-right: 5px;">
                    Color 6: <input type="text" id="color6" value="">
                </span>
            </div>
            <!--<div style="clear: both; height: 10px; /*background: rgba(28, 21, 33, 0)*/"></div>-->
            <div id="switches" style="float: left; width: 40%; margin: 0 auto; text-align: justify;">
                <span id="switch1" style="padding-right: 5px;">
                    <input type="checkbox" id="switch1" onchange="setSwitches();" style="vertical-align: middle;" value=""><span id="switchLbl1" style="padding-left: 2px;"></span>
                </span><br>
                <span id="switch2" style="padding-right: 5px;">
                    <input type="checkbox" id="switch2" onchange="setSwitches();" style="vertical-align: middle;" value=""><span id="switchLbl2" style="padding-left: 2px;"></span>
                </span><br>
                <span id="switch3" style="padding-right: 5px;">
                    <input type="checkbox" id="switch3" onchange="setSwitches();" style="vertical-align: middle;" value=""><span id="switchLbl3" style="padding-left: 2px;"></span>
                </span><br>
                <span id="switch4" style="padding-right: 5px;">
                    <input type="checkbox" id="switch4" onchange="setSwitches();" style="vertical-align: middle;" value=""><span id="switchLbl4" style="padding-left: 2px;"></span>
                </span>
            </div>
            <div style="clear: both; height: 10px; /*background: rgba(28, 21, 33, 0)*/"></div>
            <div id="text">
                <span id="text">Enter Text Message (63 chars max):<br>
                    <input type="text" id="text" maxlength="63" value="">
                </span>
            </div>
            <div style="clear: both; height: 10px; /*background: rgba(28, 21, 33, 0)*/"></div>
            <div id="setModeButton">
                <a id="setModeButton" href="javascript:void(0);" onclick="setMode();" title="">Start Mode!</a>
            </div>
        </div>
        <!--<div id="colors" style="padding-bottom: 15px; display: none;">
            <canvas height="196" width="521" id="colors_canvas" >
                Your browser does not support the HTML5 canvas element.
            </canvas>
        </div>-->
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'js/sparkPixelsManager.js' %}"></script>
    <script type="text/javascript">
        // Define the elements to be replaced with the js color picker
        $( "input#color1, input#color2, input#color3, input#color4, input#color5, input#color6" ).spectrum({
            hideAfterPaletteSelect: true,
            preferredFormat: "hex",
            replacerClassName: 'colorPicker',
            showInitial: true,
            showInput: true,                
            showPaletteOnly: true,
            color: 'blanchedalmond',
            change: function() { setColors(); },
            palette: [
                ["#000","#444","#666","#999","#ccc","#eee","#f3f3f3","#fff"],
                ["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
                ["#f4cccc","#fce5cd","#fff2cc","#d9ead3","#d0e0e3","#cfe2f3","#d9d2e9","#ead1dc"],
                ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
                ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
                ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
                ["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
                ["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
            ]
        });
    </script>
    {% include "cubetube/partials/_footer.html" %}
{% endblock %}
