<!-- 
  Viz view, contains comments and details.
  And also Code editing options.

  - Currently duplicated from javascript.html (old code is in there)
-->

{% extends "viz/viz-base.html" %}
{% load staticfiles %}

{% block content %}
<script type="text/javascript">
	var compilerData;
	var JSONstring;
	function flashCube(){
		var request=$.ajax({
			type:"POST",
			url:"{% url 'cloudFlash' %}", 
			data: {"code": $(".code").val(), "accessToken":accessToken, "deviceID":$("#cubeName").val(), "vizName": "{{ viz.name }}", "vizId":"{{ viz.pk }}" },
			dataType:"text",
			success: function(data){ 
				console.log("success flashing");
				console.log(data);
				JSONstring=data;
				var result = $.parseJSON(data);
				var result = $.parseJSON(result);
				compilerData=result;
				console.log(result);
				output="";
				if(result.ok){
					output+="compilation status:  ok\n";
					output+=result.message;
				}
				else{
					output+="compilation status: "+result.ok+"\nerrors:\n"+result.errors+"\n";
				}
				$("textarea.output").val(output);
			},
			error: function(data){
					console.log("fail");
					console.log(data);
			}
		});
	}
	
	function deleteViz(){
	    var vizAuthor = $('.viz-wrapper').attr('data-viz-author');
		if (vizAuthor == $.cookie("nickname")){
			var confirmMessage="Sure to get rid of this viz? (this action CANNOT be undone)\n\nClick either \"OK\" to proceed or \"Cancel\" to go back";
			if (confirm(confirmMessage) == true){
				var request=$.ajax({
					type:"POST",
					url:"{% url 'delete' %}", 
					data: {"vizId":"{{ viz.pk }}" },
					dataType:"text",
					success: function(data){
						var result = $.parseJSON(data);
						if (result.success) {
							alert("Viz Deleted!");
							//Remove the viz card from view in the gallery
							window.parent.$("#"+"{{ viz.pk }}").hide();
							//Call the parent js method to close the iframe
							parent.closeViz();
						}
						else alert("Whoops! Something unexpected happened.");
					},
					error: function(data){
						var result = $.parseJSON(data);
						if(result.error) alert(result.error);
						else alert('Something went terribly wrong - Call 911');
					}
				});
			}
		}
	}
	
	$( document ).ready(function() {
		var vizAuthor = $('.viz-wrapper').attr('data-viz-author');
		if (vizAuthor == $.cookie("nickname")) $("#btnDeleteViz").show();
		else $("#btnDeleteViz").hide();
	});
</script>

{% load utils %}
{% logged_in_status as logged_in %}

{% if source %}
  <div class="viz-wrapper" data-viz-type="{{ viz.vizType }}" data-viz-id="{{ viz.pk }}" data-viz-author="{{ viz.creator.nickname }}" data-viz-url="{% url 'code' source.pk %}">
{% else %}
  <div class="viz-wrapper" data-viz-type="{{ viz.vizType }}" data-viz-id="{{ viz.pk }}" data-viz-author="{{ viz.creator.nickname }}">
{% endif %}

  <div class="viz-nav">
    
    {% if source %}
      <a class="round-button button-red view-code">View Code</a>
    {% endif %}

    {% if logged_in %}
      <div class="cube-options">
	  <a id="btnDeleteViz" class="round-button button-grey" style="display:none;" onclick="deleteViz()">Delete this Viz</a>
	{% if viz.vizType == "L3D" %}
        <a class="round-button button-grey sent-to-cube" onclick="flashCube()">Send to Cube</a>
	{% elif viz.vizType == "javascript" %}
        <a class="round-button button-grey sent-to-cube" onclick="stream()">Stream to Cube</a>
	{% else %}
	{% endif %}
        <div class="round-button button-grey select-cube">
          <select id="cubeName"></select>
        </div>
      </div>
      <div class="nav-info"></div>
    {% else %}
      <div class="nav-info">Sign in to send to cube!</div>
    {% endif %}
  </div>
  <div class="viz-demo">
    {% if source %}

      {% if viz.interactive %}
        <div class="youtube-video" data-url={{ viz.videoURL }}></div>
      {% else %}
        <canvas class="demo-canvas"></canvas>
      {% endif %}
    {% else %}

      {% if photo %}
        <div class="background-image no-photo"></div>
        <!-- <div class="background-image" style="background-image: url('{{photo.file.url}}')"></div> -->
      {% else %}
      {% endif %}

    {% endif %}
  </div>
  <div class="viz-details">
    <div class="inner-wrapper">
      
      <div class="viz-created">
        <div class="title">
          {{ viz.name }}
        </div>
        <div class="created">
          Created by {{ viz.creator.nickname }} on {{ viz.created|date:"F d, Y" }}
        </div>
      </div>

      <div class="viz-share">
        <div class="twitter">Twitter</div>
        <div class="facebook">Facebook</div>
      </div>

      <div class="viz-description">
        {{ viz.description }}
      </div>
    </div>

    <div class="viz-comments clearfix">
      <div class="inner-wrapper">
        <div class="comments-title">
          Comments:
        </div>
        {% if logged_in %}
          <textarea class="comments-input" rows="3" placeholder="Please, share your thoughts!"></textarea>
          <a class="round-button button-grey submit-comment">Post Comment</a>
        {% endif %}
        <div class="comments-go-here">
          {% for comment in comments %}
            <div class="viz-comment">
              <span class="author">{{ comment.commenter.nickname }}</span> <span class="said">said</span>
              <p>{{ comment.comment }}</p>
            </div>
          {% empty %}
            {% if not logged_in %}
              <div class="no-comments">Sign up, to be the first!</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% if nextViz %}
    <a class="viz-next" href="/viz/{{ nextViz.pk }}">
      <div class="next-text">Up next</div>
      <div class="next-viz-name">{{ nextViz.name }}</div>
    </a>
  {% endif %}

  {% if source %}
  <div class="viz-code">
    <div class="viz-code-header">

      <a class="round-button button-red run-sketch">Update Demo</a>
      {% if logged_in %}

        {% if viz.creator.nickname == request.COOKIES.nickname %}
          <a class="round-button button-transparent edit-sketch" href="{% url 'edit' viz.pk %}">Edit Sketch</a>
        {% else %}
          <a class="round-button button-transparent fork-sketch" href="{% url 'fork' viz.pk %}">Fork Sketch</a>
        {% endif %}

      {% else %}
        <div class="nav-info white">Sign up, make your own!</div>
      {% endif %}
    </div>
    <div class="code-area">
      <textarea rows="80" cols="120" id="code" class="code inout">{{ source.code }}</textarea>
   </div>
    <textarea cols="120" rows="10" class="console output" readonly placeholder="Console output..."></textarea>
  </div>
  {% endif %}
</div>

{% endblock %}
