<footer>
    <div class="section top">
        <a class="logo-box">
            <img src="/static/images/logo.svg" class="logo" />
            Cubetube
        </a>
        <ul class="menu-items">
            <li>
                <a href="/">Overview</a>
            </li>
            <li>
                <a href="/docs">Getting Started</a>
            </li>
            <li>
                <a href="/gallery">Gallery</a>
            </li>
            <li>
                <a href="/forum">Forum</a>
            </li>
        </ul>
    </div>
    <div class="section bottom">
        <div class="cta">
            Did you miss our kickstarter?  No worries! <br>
            You can still pre-order your L3D cube!
            <a class="button blue" target="_blank" href="http://lookingglassfactory.com/">
                PreOrder the L3D Cube
            </a>
    </div>
</footer>