{% load staticfiles %}

<!-- META -->
<title> Cubetube - Its hip to be cube </title>

<!-- CSS -->
<link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<!-- JS -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://cdn.jsdelivr.net/sparkjs/0.2.3/spark.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="//use.typekit.net/vkj1bxc.js"></script>
<script>try{Typekit.load();}catch(e){}</script>