<div class="login-signup-popover login">
    <img src="/static/images/logo.png" class="tiny-logo"/>
    <div class="login-component content">
        <div class="login-title">
            <span class="black">Log in</span> <span class="grey">or</span> <a class="grey link">Join</a>
            <p>
                Login using your <a href="http://spark.io">Spark.io</a> username<br>
                and password
            </p>
        </div>
        <div class="input-areas">
            <div class="inputs">
                <input type="text" class="email" placeholder="Email Address"></input>
                <input type="password" class="password" placeholder="Password"></input>
            </div>
            <div class="error-area"></div>
            <button class="login">Log In</button>
        </div>
    </div>
    <div class="signup-component content">
        <div class="login-title">
            <span class="grey link">Log in</span> <span class="grey">or</span> <a class="black">Join</a>
            <div class="signup-text">
                <p>
                    This will make an account for you on<br>
                    cubetube, and also at Spark.io.
                </p>
                <p>
                    If you already have a spark account,<br>
                    just go ahead and enter the deets below.
                </p>
            </div>
        </div>
        <div class="input-areas">
            <div class="inputs">
                <input type="text" class="email" placeholder="Email Address"></input>
                <input type="text" class="nickname" placeholder="Nickname"></input>
                <input type="password" class="password" placeholder="Password"></input>
            </div>
By joining Cubetube, I understand that all code on cubetube is open-source, and any code I write on the site will be released under the <a href="http://opensource.org/licenses/MIT">MIT License</a>

            <div class="error-area"></div>
            <button class="signup-button">Create user</button>
        </div>
    </div>
</div>
